body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a {
  margin-right: 1rem;
}

.page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}